/* General Styling */
body {
    font-family: Arial, sans-serif;
    background: url('/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(128, 16, 16, 0.9);
    width: 80%;
    max-width: 1200px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}

/* Header Styling */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.logo-container {
    text-align: center;
}

.logo {
    width: 80px;
}

h1 {
    font-size: 24px;
    color: #6A5ACD;
}

/* Profile Section */
.profile-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* Profile Card */
.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.upload-btn {
    background-color: #6A5ACD;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-btn:hover {
    background-color: #483D8B;
}

.profile-info {
    text-align: center;
}

.profile-info p {
    margin: 10px 0;
}

.profile-info h2 {
    margin-bottom: 15px;
    color: #6A5ACD;
}

/* Editable Form Section */
.edit-profile {
    background-color: #f9f9f9;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.edit-profile h3 {
    color: #6A5ACD;
    margin-bottom: 20px;
}

.edit-profile form {
    display: flex;
    flex-direction: column;
}

.edit-profile form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.edit-profile form input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.save-btn {
    background-color: #6A5ACD;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.save-btn:hover {
    background-color: #483D8B;
}
